.navigation-section{
    background-color: rgb(43, 43, 93);

}
.navigation-section a{
    color:#fff;
}
.company-name{
    font-size: 1.5rem;
    font-weight: 500;
    padding-left: 1.5rem;
   
}
.toggle-icons{
    color:#fff;
}
