.contact-form{
    width: 40%;
    border-radius: 5px;
    border: 1px solid gray;
}
.submit-button{
    background-color: rgb(230, 102, 28);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding:10px 30px;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 10px;
}
.contact-section{
    text-align: center;
    margin-bottom: 4rem;
}
