.project-image{
    height: 250px;
}
.project-details{
    height: 600px;
}
.project-button{
    background-color: rgb(230, 102, 28);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding:5px 10px;
    font-size: 1rem;
    font-weight: 500;
}
.project-live a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    margin-left:.8rem;
}

.new-style {
    color:#0d6efd;
    font-weight: bold;
    font-size: 1.2rem;
}